.catalog-cards {
  padding-bottom: 4px;
  background-color: @white;
}

@media (min-width: @tablet-width) {
  .catalog-cards {
    position: relative;
    padding-top: 27px;
  }
}

@media (min-width: @tablet-width) {
  .catalog-cards--decor-wave::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 770px;
    height: 24px;
    background-image: url("img/icon-wave-tablet.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: @desktop-width) {
  .catalog-cards {
    padding-top: 127px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 36px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-cards--decor-wave::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 1150px;
    height: 34px;
    background-image: url("../img/icon-wave-desktop.svg");
    background-repeat: no-repeat;
  }
}

.catalog-cards__list {
  .reset-styles-ul ();
  padding: 0 30px;
  padding-top: 30px;
}

@media (min-width: @tablet-width) {
  .catalog-cards__list {
    padding: 0 50px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-cards__list {
    display: grid;
    grid-template-columns: 316px 315px 316px;
    grid-auto-flow: dense;
    column-gap: 51px;
    padding: 0;
  }
}

.catalog-cards__item:not(:last-child) {
  margin-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .catalog-cards__item {
    display: grid;
    grid-template-columns: 334px 1fr;
    padding-top: 48px;
  }

  .catalog-cards__item:not(:last-child) {
    margin-bottom: 6px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-cards__item {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
    margin: 0;
    padding: 0;
  }

  .catalog-cards__item:not(:last-child) {
    margin-bottom: 0;
  }
}
