.contacts {
  width: 320px;
  margin: 0 auto;
  padding-top: 89px;
  padding-bottom: 39px;
}

@media (min-width: @tablet-width) {
  .contacts {
    width: 768px;
    padding-top: 154px;
    padding-bottom: 57px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    display: grid;
    width: 1150px;
    box-sizing: border-box;
    grid-template-columns: 124px 1fr max-content;
    grid-auto-flow: column;
    padding: 0 50px;
    padding-top: 162px;
    padding-bottom: 105px;
  }
}

@media (min-width: @tablet-width) {
  .contacts::before {
    content: "";
    position: absolute;
    top: 136px;
    right: 55px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18.5px 0 18.5px 37px;
    border-color: transparent transparent transparent @downy;
  }

  .contacts::after {
    content: "";
    position: absolute;
    top: 131px;
    right: 96px;
    width: 4px;
    height: 81px;
    background-color: @bg-thunder;
  }
}

@media (min-width: @desktop-width) {
  .contacts::before {
    top: 229px;
    left: 122px;
  }

  .contacts::after {
    top: 224px;
    left: 113px;
  }
}

.contacts__title {
  margin-top: 0;
  margin-left: -1px;
  margin-bottom: 28px;
  padding: 0 30px;
  .title-h2();
}

@media (min-width: @tablet-width) {
  .contacts__title {
    margin-left: 0;
    margin-bottom: 49px;
    padding: 0 50px;
    .title-h2 (@f-size: 43px; @l-height: 50px;);
  }
}

@media (min-width: @desktop-width) {
  .contacts__title {
    margin-bottom: 36px;
    padding-top: 79px;
    grid-column: 2 / 1 span;
    .title-h2 (@f-size: 53px; @l-height: 57px;);
  }
}

.contacts__organization {
  display: grid;
  grid-template-columns: 25% 70%;
  grid-auto-flow: dense;
  column-gap: 12px;
  row-gap: 30px;
  margin-left: -1px;
  margin-bottom: 62px;
  padding: 0 30px;
}

@media (min-width: @tablet-width) {
  .contacts__organization {
    margin-left: 0;
    margin-bottom: 48px;
    padding: 0 50px;
    grid-template-columns: 8% 35% 8% 38%;
    column-gap: 23px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__organization {
    margin-bottom: 82px;
    grid-column: 2 / 1 span;
    grid-template-columns: 56px 1fr;
    column-gap: 22px;
    row-gap: 30px;
  }
}

.contacts__text {
  margin-top: 0;
  margin-bottom: 0;
  .text (@f-size: 14px; @l-height: 30px;);
}

.contacts__col-1 {
  grid-column: 1 / 1 span;
}

.contacts__col-2 {
  grid-column: 2 / 1 span;
}

@media (min-width: @tablet-width) {
  .contacts__col-1,
  .contacts__col-2 {
    grid-column: 1 span;
  }
}

@media (min-width: @tablet-width) {
  .contacts__text {
    .text (@f-size: 17px; @l-height: 30px;);
  }
}

@media (min-width: @desktop-width) {
  .contacts__col-1 {
    grid-column: 1 / 1 span;
  }

  .contacts__col-2 {
    grid-column: 2 / 1 span;
  }
}

.contacts__link {
  position: relative;
  .text (@f-size: 14px; @l-height: 30px;);
}

.contacts__link:hover {
  color: @bg-hover-2;
}

.contacts__link:hover::after {
  background-color: @bg-hover-2;
}

.contacts__link:active::after {
  display: none;
}

.contacts__link::after {
  content: "";
  position: absolute;
  left: 2px;
  right: 0;
  bottom: -3px;
  height: 1px;
  background-color: @bg-downy;
}

@media (min-width: @tablet-width) {
  .contacts__link {
    .text (@f-size: 17px; @l-height: 30px;);
  }
}

@media (min-width: @tablet-width) {
  .contacts__link::after {
    right: -2px;
    bottom: -4px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__link::after {
    right: 0;
    left: 0;
    bottom: -8px;
  }
}

.contacts__wrapper {
  position: relative;
  display: block;
  margin-bottom: 42px;
}

.contacts__wrapper::after {
  content: "";
  position: absolute;
  top: 91px;
  left: 137px;
  width: 67px;
  height: 100px;
  background-image: url("../img/contacts-point-map.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    margin-bottom: 55px;
  }
}

@media (min-width: @tablet-width) {
  .contacts__wrapper::after {
    top: 134px;
    left: 335px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__wrapper {
    margin-bottom: 0;
    grid-column: 3 / 1 span;
    grid-row: 3 span;
  }
}

@media (min-width: @tablet-width) {
  .contacts__wrapper::after {
    top: 118px;
    left: 279px;
  }
}

.contacts__map {
  display: block;
}

.contacts__button {
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  padding: 14px 0;
}

.contacts__button:not(:last-child) {
  margin-bottom: 10px;
}

@media (min-width: @tablet-width) {
  .contacts__button {
    margin: auto;
    width: 226px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__button {
    margin: 0;
    margin-left: 51px;
    width: 226px;
    grid-column: 2 / 1 span;
  }
}
