
.contacts {
  padding: 51px 30px 0;
}

.contacts__title {
  .title-h2();
  margin-top: 0;
  margin-bottom: 28px;
}

.contacts__organization {
  display: grid;
  grid-template-columns: 76px 183px;
  row-gap: 30px;
}

.contacts__text {
  .text (@f-size: 14px; @l-height: 30px;);
  margin: 0;
}
