.main-footer {
  display: grid;
  justify-items: center;
  max-width: 320px;
  padding: 0 30px;
  box-sizing: border-box;
  background-color: @bg-seashell;
}

.main-footer--separator::after {
  width: 260px;
  height: 1px;
  background-color: @bg-whisper;
}

.main-footer__socials {
  margin-bottom: 45px;
}

.main-footer__copyright {
  padding-top: 4px;
  padding-bottom: 23px;
}
