.main-content {
  width: 100%;
  min-width: 320px;
  flex-grow: 1;
}

@media (min-width: @tablet-width) {
  .main-content {
    min-width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .main-content {
    max-width: 1150px;
    /* max-width: 1300px; */
  }
}

.main-content__promo {
  margin-top: -16px;
  margin-bottom: 31px;
}

.main-content__product-week {
  margin-bottom: 31px;
  padding: 0 30px;
}

.main-content__reviews {
  position: relative;
  margin-bottom: 38px;
}

.main-content__contacts {
  margin-bottom: 39px;
}
