/* .main-header {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  width: 100%;
  min-width: 320px;
  min-height: 79px;
  padding: 0 31px;
}

@media (min-width: @tablet-width) {
  .main-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 89px 63px;
    min-width: 768px;
    padding: 0 50px;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    min-width: 1150px;
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

.main-header__logo {
  display: block;
  width: 86px;
  height: 36px;
  margin-left: 18px;
  justify-self: center;
  background-image: url("../img/header-logo-mobile.png");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .main-header__logo {
    margin-left: -2px;
    width: 113px;
    height: 46px;
    justify-self: start;
    order: 1;
    background-image: url("../img/header-logo-tablet.svg");
  }
}

@media (min-width: @desktop-width) {
  .main-header__logo {
    display: block;
    min-width: 149px;
    min-height: 72px;
    grid-column: 3 / 5;
    justify-self: center;
    background-image: none;
  }
}

.main-header__icon {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-header__icon {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-header__icon {
    display: block;
  }
}

.main-header__navigation {
  margin-bottom: 1px;
}

@media (min-width: @tablet-width) {
  .main-header__navigation {
    margin-bottom: 0;
    order: 2;
  }
}

@media (min-width: @desktop-width) {
  .main-header__navigation {
    grid-column: 5 / -1;
  }
}

.main-header__text {
  display: none;
  .text ();
}

@media (min-width: @tablet-width) {
  .main-header__text {
    display: inline-block;
    order: 3;
    grid-column: 1 / -1;
    justify-self: end;
  }
}
 */

.main-header {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-auto-flow: dense;
  width: 100%;
  min-width: 320px;
  min-height: 78px;
  box-sizing: border-box;
  padding: 22px 31px 0;
}

@media (min-width: @tablet-width) {
  .main-header {
    min-width: 768px;
    min-height: 141px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding: 0 50px;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    max-width: 1150px;
    min-height: 135px;
    grid-template-columns: 1fr max-content 1fr;
  }
}

.main-header__logo {
  display: block;
  min-width: 86px;
  min-height: 35px;
  margin-left: 18px;
  margin-bottom: 22px;
  justify-self: center;
  background-image: url("../img/header-logo-mobile.png");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .main-header__logo {
    display: block;
    grid-column: 1 / 1 span;
    width: 113px;
    height: 46px;
    margin-top: 22px;
    margin-left: -2px;
    margin-bottom: 0;
    justify-self: start;
    background-image: url("../img/header-logo-tablet.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: @desktop-width) {
  .main-header__logo {
    width: auto;
    height: max-content;
    margin-top: 8px;
    grid-column: 2 / 3;
    grid-row: 1 span;
    justify-self: center;
    background-image: none;
  }
}

.main-header__icon {
  display: none;
}

@media (min-width: @desktop-width) {
  .main-header__icon {
    display: block;
  }
}

.main-header__toggle {
  position: relative;
  display: block;
  width: 20px;
  height: 14px;
  margin-bottom: 23px;
  align-self: center;
  .reset-styles-btn ();
}

.main-header__toggle::before,
.main-header__toggle::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: @c-black;
}

.main-header__toggle::before {
  top: 0;
}

.main-header__toggle::after {
  bottom: 0;
}

.main-header__toggle-line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: @c-black;
}

@media (min-width: @tablet-width) {
  .main-header__toggle {
    display: none;
  }
}

.main-header__list {
  .reset-styles-ul ();
}

.main-header__text {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-header__text {
    display: block;
    grid-column: 2 / 1 span;
    align-self: center;
    justify-self: end;
    .text ();
  }
}

@media (min-width: @desktop-width) {
  .main-header__text {
    margin-bottom: 2px;
    grid-column: 3 / -1;
    align-self: end;
  }
}
