.main-footer {
  box-sizing: border-box;
  display: grid;
  max-width: 320px;
  margin: auto;
  padding: 0 30px;
  background-color: @bg-seashell;
}

.main-footer__socials {
  margin-bottom: 45px;
  justify-self: center;
}

.main-footer__copyright {
  padding-top: 4px;
  padding-bottom: 23px;
  justify-self: center;
}
