/* @media (min-width: @tablet-width) {
  .navigation-user {
    display: grid;
    grid-template-columns: 24% 76%;
    min-height: 89px;
    justify-items: center;
    align-items: center;
  }
}

.navigation-user__item {
  padding: 0 30px;
  box-shadow: 0 1px 0 @bg-gallery, inset 0 1px 0 @bg-gallery;
}

@media (min-width: @tablet-width) {
  .navigation-user__item {
    display: grid;
    justify-self: end;
    padding: 0;
    box-shadow: none;
  }
}

.navigation-user__link {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 27px;
  padding: 28.5px 0 26.5px 0;
  .text (@f-size: 17px; @f-weight: 700; @color: @c-black;);
}

@media (min-width: @tablet-width) {
  .navigation-user__link {
    display: grid;
    column-gap: 30px;
    padding: 0;
  }

  .navigation-user__link-tablet {
    padding-top: 35px;
    padding-bottom: 34px;
    padding-left: 34px;
  }
}

.navigation-user__link .visually-hidden {
  display: none;
}

@media (min-width: @tablet-width) {
  .navigation-user__link .visually-hidden {
    display: inline;
  }
}

@media (min-width: @tablet-width) {
  .navigation-user__text--hidden-tablet {
    display: none;
  }
}
 */


.navigation-user {
  display: grid;
  grid-column: 1 / -1;
}

@media (min-width: @tablet-width) {
  .navigation-user {
    grid-template-columns: repeat(2, max-content);
    column-gap: 32px;
    grid-column: 2 / 3;
    grid-row: 1 span;
    justify-self: end;
    height: max-content;
  }
}

@media (min-width: @desktop-width) {
  .navigation-user {
    grid-column: 3 / -1;
    grid-row: 1 span;
  }
}

.navigation-user__item {
  width: 258px;
  justify-self: center;
}

@media (min-width: @tablet-width) {
  .navigation-user__item {
    width: auto;
  }
}

.navigation-user__link {
  display: grid;
  grid-template-columns: repeat(2, minmax(max-content, 21px));
  align-items: center;
  column-gap: 24px;
  width: 100%;
  padding-top: 28px;
  padding-bottom: 26px;
  .text (@f-size: 17px; @f-weight: 700; @color: @c-black;);

  &--indent-cart {
    padding-top: 30px;
  }
}

@media (min-width: @tablet-width) {
  .navigation-user__link {
    grid-template-columns: max-content 1fr;
    column-gap: 31px;
    padding-top: 33px;
    padding-bottom: 31px;
  }

  .navigation-user__link--indent-search {
    width: auto;
    grid-template-columns: max-content;
    column-gap: 0;
    padding: 35px 31px 34px 33px;
  }
}

/* .navigation-user__icon {

}

.navigation-user__text {

} */

@media (min-width: @tablet-width) {
  .navigation-user__text--hidden-tablet {
    display: none;
  }
}
