.order-main {
  padding-top: 75px;
}

.order-main__title{
  .title-h1 (@f-family: @open-sans; @f-style: normal; @f-size: 27px; @l-height: 30px; @f-weight: 700; @color: @c-black;);
  margin-top: 0;
  margin-bottom: 90px;
  text-align: center;
}

.order-main__text{
  .text (@f-size: 13px;);
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 30px;
  text-align: left;
}
