.order-main {
  width: 320px;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 55px;
}

@media (min-width: @tablet-width) {
  .order-main {
    width: 768px;
    padding-top: 57px;
    padding-bottom: 50px;
  }
}

@media (min-width: @desktop-width) {
  .order-main {
    width: 1150px;
    padding-bottom: 50px;
  }
}

.order-main__title {
  .title-h1 ();
  margin: 0;
  padding-top: 72px;
  padding-bottom: 73px;
  background-color: @bg-seashell;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .order-main__title {
    margin-top: -102px;
    margin-bottom: 0;
    padding-top: 102px;
    padding-bottom: 77px;
    padding-left: 50px;
    padding-right: 50px;
    .title-h1 (@f-size: 43px; @l-height: 50px;);
  }
}

@media (min-width: @desktop-width) {
  .order-main__title {
    position: relative;
    margin-top: -100px;
    padding-top: 101px;
    padding-bottom: 96px;
    background-color: @bg-seashell;
    .title-h1 (@f-size: 53px; @l-height: 57px;);
  }
}

.order-main__text {
  .text (@f-size: 13px;);
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 30px;
  padding-top: 18px;
  text-align: left;
}

@media (min-width: @tablet-width) {
  .order-main__text {
    .text (@f-size: 17px; @l-height: 30px;);
    padding-top: 64px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
  }
}

@media (min-width: @desktop-width) {
  .order-main__text {
    padding-left: 225px;
    padding-right: 250px;
    padding-top: 116px;
  }
}
