.page {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @c-black;
  background-color: @white;
}

.page__body {
  box-sizing: border-box;
  max-width: 320px;
  margin: auto;
  padding: 0 30px;
}
