@media (min-width: @tablet-width) {
  .promo-household {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.promo-household__item:nth-child(odd) {
  background-color: @downy;
}

.promo-household__item:nth-child(even) {
  background-color: @bg-fountain-blue;
}

.promo-household__link {
  display: block;
  padding: 24px 160px 31px 30px;
  .text (@f-size: 19px; @f-weight: 700; @color: @white;);
}

@media (min-width: @tablet-width) {
  .promo-household__link {
    padding: 26px 160px 29px 36px;
    .text (@f-size: 20px; @l-height: 30px; @f-weight: 700; @color: @white;);
  }
}

@media (min-width: @desktop-width) {
  .promo-household__link {
    padding-right: 304px;
    .text (@f-size: 20px; @l-height: 30px; @f-weight: 700; @color: @white;);
  }
}
