/* .slider__button {
  display: block;
  height: 52px;
  background-position: center;
  background-repeat: no-repeat;
  .reset-styles-btn ();
  border: 1px solid @bg-gallery;
} */

/* @media (min-width: @desktop-width) {
  .slider__button {
    height: 50px;
  }
} */

/* .slider__button--prev {
  background-image: url("../img/reviews-arrow-left.svg");
} */

/* @media (min-width: @tablet-width) {
  .slider__button--prev {
    width: 84px;
  }
}

@media (min-width: @desktop-width) {
  .slider__button--prev {
    width: 85px;
  }
} */

/* .slider__button--next {
  background-image: url("../img/reviews-arrow-right.svg");
} */

/* @media (min-width: @tablet-width) {
  .slider__button--next {
    width: 89px;
  }
}

@media (min-width: @desktop-width) {
  .slider__button--next {
    width: 88px;
  }
} */

/* ------------------------------------------------------------------------------------------------------------- */

/* .slider {

}

.slider__list {

}

.slider__item {

}

.slider__buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(82.5px, 130px));
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .slider__buttons {
    grid-template-columns: repeat(auto-fit, minmax(82.5px, 1fr));
  }
}

.slider__button {
  display: block;
  min-height: 52px;
  background-repeat: no-repeat;
  .reset-styles-btn ();
  border: 1px solid @bg-gallery;
}

.slider__button--prev {
  background-image: url("../img/reviews-arrow-left.svg");
  background-position: left 37px center;
}

.slider__button--next {
  background-image: url("../img/reviews-arrow-right.svg");
  background-position: right 41px center;
}

@media (min-width: @tablet-width) {
  .slider__button--prev {
    background-position: left 17px center;
  }
}

@media (min-width: @tablet-width) {
  .slider__button--next {
    background-position: right 18px center;
  }
} */


.slider {

}

.slider__list {

}

.slider__item {

}
