//Миксины для заголовков:

.title-h1 (@f-family: @open-sans; @f-style: normal; @f-size: 27px; @l-height: 30px; @f-weight: 700; @color: @c-black;) {
  font-family: @f-family;
  font-style: normal;
  font-size: @f-size;
  line-height: @l-height;
  font-weight: @f-weight;
  color: @color;
}

.title-h2 (@f-family: @open-sans; @f-style: normal; @f-size: 25px; @l-height: 30px; @f-weight: 700; @color: @c-black;) {
  font-family: @f-family;
  font-style: normal;
  font-size: @f-size;
  line-height: @l-height;
  font-weight: @f-weight;
  color: @color;
}

.title-h3 (@f-family: @open-sans; @f-style: normal; @f-size: 17px; @l-height: 20px; @f-weight: 700; @color: @c-black;) {
  font-family: @f-family;
  font-style: normal;
  font-size: @f-size;
  line-height: @l-height;
  font-weight: @f-weight;
  color: @color;
}

//Миксин для текста:

.text (@f-family: @open-sans; @f-style: normal; @f-size: 15px; @l-height: 24px; @f-weight: 400; @color: @c-tundora;) {
  font-family: @f-family;
  font-style: normal;
  font-size: @f-size;
  line-height: @l-height;
  font-weight: @f-weight;
  color: @color;
}

//Миксин для кнопки primary-button:

.primary-btn (@f-family: @open-sans; @f-style: normal; @f-size: 18px; @l-height: 20px; @f-weight: 700; @color: @c-tundora; @bg-color: @white;) {
  font-family: @f-family;
  font-style: normal;
  font-size: @f-size;
  line-height: @l-height;
  font-weight: @f-weight;
  text-align: center;
  text-transform: uppercase;
  color: @color;
  background-color: @bg-color;
  border: 2px solid @c-tundora;
  cursor: pointer;
}

//Миксин для кнопки secondary-button:

.secondary-btn (@f-family: @open-sans; @f-style: normal; @f-size: 17px; @l-height: 16px; @f-weight: 700; @color: @white; @bg-color: @downy;) {
  font-family: @f-family;
  font-style: normal;
  font-size: @f-size;
  line-height: @l-height;
  font-weight: @f-weight;
  text-align: center;
  text-transform: uppercase;
  color: @color;
  background-color: @bg-color;
  border: none;
  cursor: pointer;
}

//Миксин, сбрасывающий стили для кнопок:

.reset-styles-btn () {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

//Миксин, сбрасывающий стили для списков:

.reset-styles-ul () {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

//Миксин, сбрасывающий стили для списков:

.reset-styles-input () {
  padding: 0;
  border: none;
}
