@import "../variables/variables.less";

.title-h1 (@f-family: @open-sans; @f-size: 27px; @l-height: 30px; @f-weight: 700; @color: @c-black;) {
  font-family: @f-family;
  font-size: @f-size;
  line-height: @l-height;
  font-weight: @f-weight;
  color: @color;
}

.title-h2 (@f-family: @open-sans; @f-size: 25px; @l-height: 30px; @f-weight: 700; @color: @c-black;) {
  font-family: @f-family;
  font-size: @f-size;
  line-height: @l-height;
  font-weight: @f-weight;
  color: @color;
}

.title-h3 (@f-family: @open-sans; @f-size: 17px; @l-height: 20px; @f-weight: 700; @color: @c-black;) {
  font-family: @f-family;
  font-size: @f-size;
  line-height: @l-height;
  font-weight: @f-weight;
  color: @color;
}
